.pageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #f9f9ff;
}

.sectionLayout {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 24px;
    width: 75vw;
}